body {
    margin: 0;
    padding: 0;
    font-family: 'Whitney A','Whitney B',sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    position: relative;

    .background-image {
        position: absolute;
        left: 0px;
        top: 0px;
        overflow: hidden;
        height: 550px;
        z-index: -100;
        -webkit-box-shadow: 0px 16px 38px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 16px 38px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 16px 38px 0px rgba(0,0,0,0.75);

        img {
            width:100vw;
            max-width: 100%;
            height: auto;
            opacity: .8;
            filter: alpha(opacity=70);
        }
    }
}