body {
    margin: 0;
    padding: 0;
    font-family: 'Whitney A','Whitney B',sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    position: relative;

    .background-image {
        overflow: hidden;
        height: 550px;

        img {
            width:100vw;
            max-width: 100%;
            height: auto;
        }
    }
}

.hidden {
    display: none;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}