.header-wrapper {
    font-family: 'Whitney A','Whitney B',sans-serif;
    font-style: normal;
    font-weight: 700;
    height: 100px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    -webkit-box-shadow: inset 0px -16px 15px -18px rgba(0,0,0,0.46);
    -moz-box-shadow: inset 0px -16px 15px -18px rgba(0,0,0,0.46);
    box-shadow: inset 0px -16px 15px -18px rgba(0,0,0,0.46);
    padding: 0 50px;
   
    &.fixed-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 93.4%;
        background: #333333;
    }

    &:hover {
        background: #333333;
        color: rgb(240, 239, 239);
    }

    .logo {
        font-size: 20px;
        margin-right: 30px;
        padding: 0 30px;
        align-self: center;
        .logo-name {

        }
        .logo-img {
 
        }
    }

    .navbar {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        .nav-options {
            list-style: none;
            display: inline-block;
            margin-right: 60px;
            
            a {
                letter-spacing: -1px;
                color: inherit;
                text-decoration: inherit;
                position: relative;
                font-weight: 800;
                font-size: 12px;
                text-transform: uppercase;
                line-height: 10px;
                padding: 38px 0;
                display: block;
                overflow: hidden;
                border-bottom: 2px solid transparent;
                padding-right: 1px;

                &:hover {
                    color: rgb(235, 247, 72);
                    border-bottom: 2px solid rgb(235, 247, 72);
                }
    
            }
        }
    }
    
    .social-media {
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: 35px;
            margin-right: 20px;
            
            &.fa-facebook {
                
            }

            &.fa-instagram {
                
            }
        }
    }

}

.resizer {
    height: 100px;

}
