<form class="join-us-form" id="join-us-form" action="#" method="post">
    <div>
        <p>First name:</p>
        <input type="text" name="firstName" placeholder="Your name here">
    </div>
    <div>
        <p>Email:</p>
        <input type="text" name="email" placeholder="Your email here">
    </div>
    
    <input type="submit" value="Submit">
</form>