<p>
    Онлайн медията и магазинът ..... 
    е основан през 2019 от младия ни екип от ентусиасти. 
    Можем гордо да заявим, че всеки един човек от екипа ни е с повече от 10 години опит в сферата на спорта, 
    здравословният начин на живот, здравословно хранене, диетологията, изготвяне на спортни и хранителни режими, 
    изграждане на бизнес екипи и други. Силата, която толкова години ни държи заедно е сплотеността и екипната работа,
    желанието за успех, нестихващият дух за откриване на нови и иновативни методи за доброто съжителство на тялото и духа и не на последно място приятелството. 
    Запазихме и доизградихме фирмена култура, основана на разбирането ни,
    че бизнесът трябва да се основава на професионализъм, уважение и коректно отношение между страните, както и на стремеж към взаимна полезност и подкрепа.
    Избрахме проекта на Нова Ера през 2019 година поради сходната ни визия за здравословен начин на живот и ценностната ни система.
</p>