
<div class="registrate-form-container" style="display: inline-block; width:40%">
        <iframe src="https://form.jotformeu.com/70931107287355">
            <p>Your browser does not support iframes.</p>
        </iframe>
</div>

<h2>NEW ERA HEALTH INDUSTRY GROUP. CO. LTD</h2>

Екипът на Prashec.bg е част от държавната китайска компания New Era Health Industry Group Ltd.

Китайската корпорация New Era – Холдинг е създадена през 1980 година. Това е било военно-промишлено предприятие в рамките на Министерството на отбраната на Китай. Корпорацията е под пряко подчинение на държавата, т.е. Държавните органи по надзор и управление и Комисията към Държавния съвет.

Първият президент на корпорацията е вице-премиерът на Китай – ЦзуЦзяХуа. Вторият президент е бившият министър на спорта – У Шоцзу.

На 17 април 2010 Държавния съвет одобри сливането на китайската корпорация New Era – холдинг с китайската корпорация за инвестиции в енергийна ефективност. Така се ражда новото име – китайска корпорация за енергоспестяващи и опазващи околната среда (екологични) технологии.

Корпорацията работи за подобряване на енергийната ефективност и опазването на околната среда. Фокусира се върху градската енергоспестяваща и екологично основана инфраструктура; промишленото енергоспестяване; бизнеса в областта на чистите технологии и новите енергийни източници. Това е най-голямата и конкурентно-способна промишлено-инвестиционна група.

Собственият капитал на корпорацията съставлява – 10 милиарда щатски долара.

През 1995 г. министър-председателят на Китай ДжуЖунти дава указание, че боровият прашец е перспективно направление и за развитието му е необходимо да се отвори ново подразделение. За тази цел, на 18 юли 1995 г. е основана New Era Health Industry.

В Държавния съвет, бившият министър на отбраната ЛюХуа Чин написа със златни йероглифи фразата – „Корпорация New Era Health Industry „.

Корпорация New Era Health Industry спада към високотехнологичните държавни предприятия, регистрирана е в държавната търговско-промишлена палата на Китай.

Това е единственото държавното предприятие в Китай , занимаващо се с производство на продукти за здраве чрез директни продажби!!!